@font-face {
  font-family: Consolas;
  src: url('./Consolas.ttf');
  /*font-family: Avenir;*/
  /*src: url('./Avenir.ttc');*/
}

@font-face {
  font-family: Facile-Sans;
  src: url('./Facile Sans.ttf');
}

@font-face {
  font-family: Avenir;
  src: url('./Avenir.ttc');
}

body {
  font-family: Consolas;
  /*background-color: #fdfcfd;*/
}

/* RESULTS MODAL */
.resultsModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resultsHead {
  text-align: center;
}

.resultsBody {
  text-align: center;
}

.logo {
  background-image: url('./logo.png');
  width:179px;
  height: 36px;
}

/* COUNTDOWN CLOCK */
.countdown-clock {
  display:none;
}

.actual-countdown-clock {
  display:none;
}

.display-clock {
  display:block;
  position: fixed;
  margin-left: 38%;
  margin-top: 12%;
  z-index: 99999;
}

.display-background {
  position:fixed;
  display:block;
  height:100%;
  width: 100%;
  z-index: 99999;
  background:rgba(255, 255, 255, 0.5);
}


/* EDITOR OPTIONS */
#all-options {
  font-size:15px;
  float:right;
  margin-top: 4px;/
}

.emacs-option {
  background-color:white;
  border-style: solid;
  border-width: 1.5px;
  border-color:#85baba;
  border-left:none;
}

.emacs-option:focus {
  outline:none;
}

.sublime-option {
  border-width: 1.5px;
  background-color:white;
  border-style: solid;
  border-color:#85baba;
  border-right:none;
}

.sublime-option:focus {
  outline:none;
}

.vim-option {
  border-width: 1.5px;
  background-color:white;
  border-style: solid;
  border-color:#85baba;
}

.vim-option:focus {
  outline:none;
}

.editor-option-clicked {
  /*background-color:#a9b7c0;*/
  background-color: #85baba;
  color:white;
}

#editor-comment {
  font-size: 14px;
  text-align:center;
}

/*FOOTER*/

#footer {
  display:block;
  background-color:white;
  border-color:white;
  text-align:center;
  font-family:Avenir;
}

.footer-elements {
  margin-left: 30px;
}

.footer-container {
  bottom:0;
  /*margin-top:200px;*/
  /*margin-bottom:70px;*/
  /*width: 1200px;*/
}

/* TIMER */

.start-timer {
  width:200px;
}


#timer {
  text-align: center;
}

/* COUNTER */

#counter {
  margin-top:-2px;
  float:left;
  /*margin-left: 165px;*/
}

/* NAVBAR */

#basic-nav-dropdown {
  background-color:white;
}

#navbar {
  background-color:white;
  border-bottom-color:#cccccc;
  font-family:Avenir;
  /*font-family: Facile-Sans;*/
  /*font-weight: lighter;*/
}

.container-fluid {
  height:70px;
}

.fa-github {
  /*margin-right: 10px;*/
  /*background-color:white;*/
}

#dropdown-link {
  text-align: right;
  /*color:#a9b7c0;*/
  color:#575858;
}

#user-display-name {
  margin-top:10px;
  pointer-events: none;
  /*color:#4ca0a0;*/
  color: #cccccc;
}

.dropdown-menu {
  width: 110px;
}

#github-button {
  background-color:white;
  color:#575858;
}



#navbar-links {
margin-top:10px;
/*color:#4ca0a0;*/
color:#cccccc;
font-size:22px;
}

.navbar-challenges {
  color:white;
}

.user-display {
  /*color:#cccccc;*/
  margin-top:10px;
}

.user-right {
  margin-right: 5px;
}

/* PROGRESS BAR */

.progress-container {
  margin-top: 5px;
}

.progress {
  height:15px;
}

.current-progress {
  float:right;
  margin-top: -15px;
}

/*FOOTER ICONS*/

.fa {
  color:#fc5848;
  cursor:pointer;
}

.fa:hover {
  /*cursor:pointer;*/
  color:#fdc1bc;
}

/* CREATIVE LINKS */

.navbar-default .navbar-nav>li>a {
  margin-top:17px;
  margin-left: 10px;
  color:#575858;
  padding: 6px;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar-default .navbar-nav>li>a::before,
.navbar-default .navbar-nav>li>a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background:#fec34a;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navbar-default .navbar-nav>li>a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.navbar-default .navbar-nav>li>a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  color: #fc5848;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fc5848;
}

.navbar-default .navbar-nav>li>a:hover::before,
.navbar-default .navbar-nav>li>a:focus::before,
.navbar-default .navbar-nav>li>a:hover::after,
.navbar-default .navbar-nav>li>a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/*3D-BUTTON-EFFECT*/

.button {
  /*margin-left:30px;*/
  font-weight:bold;
  font-size:16px;
  background-color:white;
  border-style: solid;
  border-color:#85baba;
  color: #85baba;
  margin: 0 auto;
  border-width: 2px;
  cursor: pointer;
  padding: 8px 14px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.start-timer:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
  /*margin-left: 30px;*/
}

.start-timer:hover,
.start-timer:active {
  color: white;
  background:#85baba;
  border-color:#85baba;
}

.start-timer:hover:after,
.start-timer:active:after {
  height: 100%;
  margin-left: 30px;
}

.start-timer {
  width:200px;
  margin-top:10px;
  /*margin-left: 30px;*/
}

.timer-background {
  color:white;
  background-color:#85baba;
}

.row-spacer {
  margin-top: 27px;
}

#landing-title {
  font-size: 85px;
}

#landing-slogan {
  font-style: italic;
}

#landing-button-text {
  font-size: 14px;
  height: 47px;
  width: 218px;
}

/*PROFILE PAGE*/

.first-container {
  /*background-color: #fec34a;*/
  /*background-color: #c0dbdb;*/
  margin-left:170px;
  margin-right:170px;
  color:black;
}

.profile-name {
  margin-top:20px;
  font-family:Avenir;
  font-size:26px;
  margin-bottom: 5px;
}

.profile-date {
  font-family:Avenir;
  margin-bottom:10px;
}

.table-header {
  color:#575858;
  text-align:center;
  background-color: #c0dbdb;
}

.chosen-header {
  color:white;
  background-color:#789595;
}

.profile-pic {
  border-radius: 50%;
  width: 280px;
  height:280px;
  /*border-radius: 120px;*/
}

#bg-justified-dropdown {
  width: 195px;
  border-radius: 0px;
  background-color: white;
}
#bg-justified-dropdown:hover {
  border-color:#85baba;
  background-color:white;
}

.main-container {
  text-align: center;
}

.challenge-order {
  /*margin-top:10px;*/
  margin-left:170px;
  margin-right: 170px;
  margin-bottom:20px;
  /*background-color: #c0dbdb; */
}

#completed-challenges {
  margin-top:10px;
  margin-bottom: 10px;
  float:right;
  /*width:195px;*/
}

#order-options {
  float:left;
  margin-top:10px;
  margin-bottom: 10px;
  /*width: 195px;*/
}

.second-row {
  text-align: center;
}
/* SAVE CHALLENGE TO DB */


/* resized-textbox to match textarea bootstrap presets*/
.resized-textbox {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/*PLAY CHALLENGE BUTTON*/
